{% extends 'base.html' %} 

{% load static %}  

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flanes Públicos - Índice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Enlace a tu archivo CSS -->
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Flanes Públicos</h1>
        <div class="row">
            {% for flan in flanes_publicos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="image-container">
                        <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ flan.name }}</h5>
                        <p class="card-text">{{ flan.description }}</p>
                        
                        {% if flan.rating %}
                            <p class="card-text">Calificación: {{ flan.rating }} estrellas</p>
                        {% else %}
                            <p class="card-text">Sin calificación</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

      {% endblock %}

    <!-- Enlace a jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
